@model IEnumerable<PizzaApp_Ph4Final.Models.OrderInfo>

@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout!!</h1>
<h4>Pizza Order Confirmation Page!!</h4>
<style>
    body {
        background-color: peachpuff;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
           
            <td>
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Buy">Buy</a>

<p>
    Feel free to Order more..🍕😃!!
    </p>
    <a asp-action="Index">Order more</a>
</p>
